body { 
	background-image: url("../resources/images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat';
}

.logo {
    float: left;
	width: 3em;
	height: 3em;
	margin-top:2em;
}
.bg-div {
   overflow: hidden;
   margin-right: 20vw;
   margin-left: 20vw;
}

.avatar{
	width: 15%;
	border-radius:50%;
}

nav{
    margin: 0;
    overflow:hidden;
    text-align: center;
	font-size:1.4em;
}

nav ul{
    margin-top: 1em;
    padding: 0;
	float: right;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a{
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

#home-center{text-align:center;padding: 9vw 0;}
#introduction{font-size:1.2em;line-height:1.5em}


