*{
    padding:0em;
    margin:0em;
}

body { 
	background-image: url("../resources/images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat';
}

body header{
	background-color: darkgray;
	padding-bottom: 1em;
   text-align: center;
}

/*Logo css*/
.logo {
    float: left;
	width: 80px;
	height: 80px;
	margin-top:10px;
}

/*Menu bar css*/
.menu-bar {
   overflow: hidden;
   margin-right: 2em;
   margin-left: 2em;
   display: inline-flex;
}

/*My image css*/
.avatar{
	width: 12em;
	border-radius:50%;
}

/*CSS List page of menu-bar*/
.list-page{
    overflow:hidden;
    text-align: center;
	font-size:1em;
	margin-top: 1em;
}

.list-page ul{
    margin-top: 1.8em;
	padding: 0;
	text-align: left;
}

.list-page ul li{
    display: inline-block;
    list-style-type: none;
}

.list-page > ul > li > a{
    color: white;
    line-height: 2em;
    padding: 0.5em 1em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	display: inline-block;
	position: relative;
}


.list-page a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: gray;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.list-page a:hover:after { 
  width: 100%; 
  left: 0; 
}

.list-page a:hover{
	color:gray;
}



/*Center page*/
#home{
	text-align:center;
	padding: 5vw 0;
	margin: auto;
}

/*Introduction about me*/
#introduction{
	font-size:1.2em;
	line-height:1.5em;
	color: gray;
	letter-spacing: 0.15em;
	margin:3em;
	justify-content: center;
}

/*Title about me*/
#title{
	font-size:2em;
	color: gray;
	letter-spacing: 0.15em;
	justify-content: center;
}


/*Copyright paragraph*/
#footer{
	text-align:center;
	font-size:0.9em;
	color:gray;
}



/*Menu Buttons mobile view*/
.menu-btn {
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
	float:right;
	margin-top:1.9em;
}

.menu-btn__burger {
    width: 20px;
    height: 3px;
    background: gray;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: gray;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-10px);
}

.menu-btn__burger::after {
    transform: translateY(10px);
}


.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background: gray;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: gray;
}


/*Menu bar mobile view (list of page)*/
.menu-mobile ul li a{
	display:flex;
	flex-direction:column;
	justify-content:center;
	height:10%;
	font-size:1.2em;
	color:gray;
}

.menu-mobile nav{
	margin-top: 25vh;
	opacity: 0;  
	animation: fadeInUp 0.5s ease-in-out 0s forwards;
	margin-left: auto;
	margin-right: auto;
}



/*Animation*/
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*Table projects page*/
.projects-table{
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 0.15em;
	color: gray;
	width:70%;
	height: 70%;
	border-spacing: 50px;
	
}
/*Project mobile view*/
.project-view-mobile{
	display:grid;
	flex-direction:column;
	justify-content:center;
	height:10%;
	color:gray;
	margin-right: auto;
}

.project-view-mobile ul{
	list-style: none;
    padding-left: 0;
}

.project-view-mobile li{
	margin-left:4em;
	margin-right:4em;
	display: inline-block;
	position: relative;
	margin-top:40px;
}

.project-text{
	text-align:center;
	font-size:1.2em;
	color:gray;
	margin-top:0;
	letter-spacing: 0.15em;
	justify-content:center;
}


/*Contacts page*/
.contacts {
	display:grid;
	flex-direction:column;
	justify-content:center;
	height:10%;
	color:gray;
	margin-right: auto;
}

.contacts ul{
	list-style: none;
    padding-left: 0;
}

.contacts li{
	margin-left:4em;
	margin-right:4em;
	display: inline-block;
	position: relative;
	margin-top:40px;
}

.contacts-text{
	text-align:center;
	font-size:1.2em;
	color:gray;
	margin-top:0;
	letter-spacing: 0.15em;
	justify-content:center;
}

.link-image:hover{
	opacity:0.5;
}
.link-image:after{
	opacity: 1;
}